*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contenedor{
    background-color: darkblue;
    text-align: center;
    border: 2px solid black;
    width: 25%;
    height: 30%;
    margin: 10% auto;
    border-radius: 10px;
}

input[type=email]{
    position: relative;
    margin-left:40px;
    
    
}
input[type=password]{
    position: relative;
    margin-left:40px;
    
}

input[type=password]{
    position: relative;
    margin-left:40px;
    
}